*{
	font-family:"Roboto";
	font-weight: 700
}
h3{
	color: blue;
	font-size: 30px;
	text-indent: 25px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.title{
	font-family:"Fira+Sans", sans-serif;
	font-size: 50px;
	font-style: italic;
	font-weight: 900;
	color: hotpink;
}
h2{
	font-size: 40px;	
}
.title2>h3{
	font-size: 30px;
	font-style: italic;
	font-weight: 900;
	color: darkorange;
}
.line{
	color: darkorange;
	text-decoration: underline;
	text-indent: 16px;
	margin-bottom: 10px;
}
p{
	text-align: justify;
}
.title2,h1,h2{
	text-align: center;
}
.block{
	padding-top: 50px;
	width: 200px;
	margin: 0 auto;
}
.red {
	font-family: "Roboto" ;
	font-style: italic;
	font-weight: 500;
	text-indent: 20px;
	color: red;
}
/* a {
	color: darkorange;
	text-decoration: underline;
} */
.up {
	font-family:"Fira+Sans", sans-serif;
	font-style: italic;
	font-weight: 900;
	font-size: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	width: 400px;
	margin: 0 auto;
	color: blueviolet;
	text-shadow: 1.5px 1.5px 10px green;
}
img{
	margin-left: 10px;
}
.red~p{
	margin-left: 10px;
}
.red+p{
	margin-bottom: 5px;
}
p{
	margin-left: 5px;
}
.forests *{
	margin-bottom: 5px;
}
.mountainz *{
	margin-bottom: 5px;
}
.waters *{
	margin-bottom: 5px;
}
[class^="text"]{
	color: blue;
}
[class$="text"]{
	color: blue
}
.bird>p{
	color: brown;
	margin-left: 10px;
}
p{
	margin-right: 10px;
}
div span{
	color: red;
	text-decoration: underline;
	font-size: 70px;
}